version: 2.1
description: Datapackr Test Suite
jobs:
  build:
    docker:
      - image: rocker/verse:4.4.1
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ checksum "renv.lock" }}
      - run:
          name: Install curl sytem deps
          command: |
            sudo apt-get update
            sudo apt-get -qq -y install libcurl4-openssl-dev libxml2-dev libsodium-dev libgit2-dev libreoffice-calc-nogui libicu-dev
      - run:
          name: Install package dependencies
          command: R -e "install.packages(c('renv','rlang', 'lintr'))"
      - run:
          name: Restore from lock file
          command: R -e "options(renv.consent = TRUE); renv::restore()"
          no_output_timeout: 40m
      - save_cache:
          key: deps1-{{ checksum "renv.lock" }}
          paths:
            - /usr/local/lib/R/site-library
      - run:
          name: Build package
          command: R CMD build --no-build-vignettes --no-manual .
      - run:
          name: Test package
          no_output_timeout: 30m
          command: |
            R -e "devtools::test(stop_on_failure = TRUE, error_on='error')"
      - run:
          name: Lint packages
          command: |
            R -e "foo<-unique(names(lintr::lint_package())); if ( length(foo) > 0 ) stop(foo)"
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large
